/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #283136;
    --basic-dark: #666666;
    --basic-neutral: #444444;
    --basic-extra-light: #EEEEEE;
    --basic-white: #ffffff;
    --social-grey: #E1E1E1;
    --special-green: #00CA74;
    --special-red: #FB565A;
    --special-yellow: #EFC849;
}
