/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #283136;
    --basic-dark: #666666;
    --basic-neutral: #444444;
    --basic-extra-light: #EEEEEE;
    --basic-white: #ffffff;
    --social-grey: #E1E1E1;
    --special-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --special-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --active-white-opasity: rgba(255, 255, 255, 0.3);
    --active-black-opasity: rgba(0, 0, 0, 0.3);
    --special-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
    --border: #D7DCDE;
    --hover-border: #B4B9BB;
    --hover-grey: #DFDFDF;
    --active-grey: #D5D5D5;
    --active-btn-border-grey: #DBDBDB;
}


/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2");
    src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/robotomedium.woff2");
    src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/robotobold.woff2");
    src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}


/* Global */

.page-body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--special-red);
    border-radius: 3px;
    border: none;
}

.btn:hover {
    background-color: var(--hover-red);
}

.btn:active {
    background-color: var(--active-red);
    color: var(--active-white-opasity);
}

.main-content {
    width: 1159px;
    margin: 0 auto;
    padding: 0;
}


/* page-header */

.wrapper-header {
    background-color: var(--basic-extra-light);
}

.page-header {
    display: grid;
    grid-template-columns: max-content 1fr min-content;
}

.link {
    font-family: "Roboto-Medium", sans-serif;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.link:hover {
    color: var(--special-red);
}

.link:active {
    opacity: 0.3;
}

.active {
    border-bottom: 2px solid var(--special-red);
}


/* nav */

.nav {
    list-style: none;
}


/* slider */

.wrapper-slider {
    background-color: var(--basic-extra-light);
}

.slider {
    margin-bottom: 80px;
}

.slider-title {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}


/* .slider-img {
    background-color: var(--special-red);
} */


/* services */

.services {
    margin-bottom: 80px;
}

.services-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
}

.services-item {
    justify-self: start;
}

.services-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.app-btn {
    background-color: var(--special-green);
}

.app-btn:hover {
    background-color: var(--hover-green);
}

.app-btn:active {
    background-color: var(--active-green);
}

.presentation-btn {
    background-color: var(--special-yellow);
}

.presentation-btn:hover {
    background-color: var(--hover-yellow);
}

.presentation-btn:active {
    background-color: var(--active-yellow);
}


/* about */

.wrapper-about {
    display: grid;
    grid-template-columns: 1fr 360px;
}

.about-title {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.about-subtitle,
.about-caption {
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
}

.about-caption {
    color: var(--basic-black);
}

.about-list {
    list-style: none;
    text-transform: uppercase;
}

.about-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about-number {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.about-percent {
    font-size: 26px;
    line-height: 40px;
}

.about-text {
    line-height: 18px;
}


/* partners */

.partners-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners-img {
    background-color: var(--basic-extra-light);
}


/* contact-container */

.contact-container {
    background-color: var(--basic-white);
}

.contact-container-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

.contact-container-text {
    line-height: 18px;
    color: var(--basic-dark);
}


/* footer*/

.wrapper-footer {
    display: grid;
    grid-template-columns: 260px 1fr;
}

.footer-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.footer-text {
    line-height: 22px;
}


/* modal */

.modal {
    background-color: var(--basic-white);
    font-family: "Roboto-Bold", sans-serif;
    color: var(--basic-black);
}

.form-title {
    font-size: 45px;
    line-height: 53px;
}

.form-label {
    line-height: 18px;
}

.form-input {
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    color: var(--basic-neutral);
    border: 2px solid var(--border);
    border-radius: 3px;
}

.form-input:hover {
    border: 2px solid var(--hover-border);
}

.form-input:focus {
    border: 2px solid var(--basic-black);
    color: var(--basic-neutral);
}


/* CATALOG */

.catalog-title {
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.catalog-title:hover {
    color: var(--special-red);
}

.catalog-title:active {
    opacity: 0.3;
}

.catalog-btn {
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
}

.catalog-btn:hover {
    background-color: var(--hover-grey);
}

.catalog-btn:active {
    background-color: var(--active-grey);
    color: var(--active-black-opasity);
}

.active-catalog-btn {
    background-color: var(--basic-white);
    border: 3px solid var(--active-btn-border-grey);
}


/* main-header */

.main-header {
    background-color: var(--basic-extra-light);
}

.main-title {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}


/* filter */

.filter-price {
    line-height: 22px;
}

.filter-input {
    background-color: var(--basic-extra-light);
    border-radius: 3px;
    border: none;
}

.filter-list {
    list-style: none;
}


/* sort */

.sort-list {
    list-style: none;
}

.sort-link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.sort-link:hover {
    opacity: 0.6;
}

.sort-link:active {
    opacity: 1;
}

.active-sort {
    opacity: 1;
}


/* templates */

.templates-list {
    list-style: none;
}

.templates-info {
    background-color: var(--basic-extra-light);
}


/* navigation-list */

.navigation-list {
    list-style: none;
}
