/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #283136;
    --basic-dark: #666666;
    --basic-neutral: #444444;
    --basic-extra-light: #EEEEEE;
    --basic-white: #ffffff;
    --social-grey: #E1E1E1;
    --special-green: #00CA74;
    --hover-green: #00BC6C;
    --active-green: #00AA62;
    --special-red: #FB565A;
    --hover-red: #E74246;
    --active-red: #D7373B;
    --special-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --active-yellow: #E5A722;
}


/* Global */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
